# Configurações do Servidor
PORT=3000
NODE_ENV=development

# Configuração do Banco de Dados PostgreSQL
DB_PORT=5432
DB_DIALECT=postgres
DB_NAME=sua_base_de_dados
DB_USER=seu_usuario
DB_PASSWORD=sua_senha

# Escolha o HOST dependendo de onde a aplicação está rodando:
# 1. Se estiver rodando via Docker Compose (ambiente de CI/CD): use "db"
DB_HOST=db

# 2. Se estiver rodando localmente fora do Docker (ou usando o Supabase): use "localhost" ou a URL do Supabase
# DB_HOST=url_supabase

# 3. Configuração de SSL (Necessário para Supabase/nuvem, geralmente false para Docker local)
DB_SSL=false